<% if @players.empty? %>
  <%= link_to "Create at least two players!", new_player_path %>
<% elsif @players_count == 1 %>
  You have <%= @players_count %> player!
  <p><%= @players.first.name %></p>
  Create at least <%= link_to "another player", new_player_path %>
<% else %>
  You have <%= @players_count %> players!
  <ul>
    <% @players.each do |player| %>
    <li class="player-item"><%= player.name %> <%= cl_image_tag player.picture, height: 100 %></li>
    <% end %>
  </ul>
  Choose two players!
  or create <%= link_to "a new player", new_player_path %>
<% end %>
