<div class="container">
  <div class="index-header">
    <h1>Players</h1>
    <%= link_to "Create a new player", new_player_path, class: 'btn-submit-small' %>
  </div>
  <% if @players.empty? %>
    There are no players.
    <%= link_to "Create a player!", new_player_path %>
  <% else %>
    <table class="margin-dotted-table text-center">
      <tr>
        <td></td>
        <td></td>
        <td><strong>Traits</strong></td>
        <td><strong>Lives</strong></td>
        <td><strong>Attack</strong></td>
        <td><strong>Victory %</strong></td>
        <td></td>
        <td></td>
      </tr>
      <% @players.each do |player| %>
        <tr data-player-id="<%= player.id %>">
          <td>
            <% if player.picture_url %>
              <%= cl_image_tag player.picture, height: 100 %>
            <% else %>
              <%= image_tag 'avatar.png', class: 'avatar-large' %>
            <% end %>
          </td>
          <td><strong><%= player.name %></strong></td>
          <td>
            <div class="m-s-40">
              <span class="m-r-15">💡 <%= player.intelligence_points %></span>
              <span class="m-r-15">💫 <%= player.magic_points %></span>
              <span class="m-r-15">💪 <%= player.strength_points %></span>
            </div>
          </td>
          <td>
            <%= player.life_points %> <i class="fas fa-heart"></i>
          </td>
          <td>
            <%= player.attack_points %> <i class="fas fa-fist-raised"></i>
          </td>
          <td>
            <%= (player.victory_ratio * 100).round %> %
          </td>
          <td>
            <%= link_to edit_player_path(player), class: 'yellow-link' do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </td>
          <td>
            <%= link_to player_path(player), method: :delete, remote: true, class: 'yellow-link' do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
